<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterLinkClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ThirdPartiInterfaceApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InterLinkClass.Properties.Settings>
            <setting name="InterLinkClass_Epayment_EPayment" serializeAs="String">
                <value>https://41.84.196.234:4044/umemebillinterface/EPayment.asmx</value>
            </setting>
            <setting name="InterLinkClass_PegPayApi_PegPay" serializeAs="String">
                <value>https://localhost:8896/TestPegPayApi/PegPay.asmx</value>
            </setting>
            <setting name="InterLinkClass_CoreBankingApi_Service" serializeAs="String">
                <value>http://localhost:64020/PegPayCoreBanking/Service.asmx</value>
            </setting>
        </InterLinkClass.Properties.Settings>
        <ThirdPartiInterfaceApi.Properties.Settings>
            <setting name="ThirdPartiInterfaceApi_NwscBillingInterface_NWSCBillingInterface"
                serializeAs="String">
                <value>http://appserver/e-waterapi-test/EWaterApi.asmx</value>
            </setting>
            <setting name="ThirdPartiInterfaceApi_Bridge_BillInterfaceApi"
                serializeAs="String">
                <value>http://localhost/Bridge/BillInterface.asmx</value>
            </setting>
        </ThirdPartiInterfaceApi.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
	  <add name="JABMACHINE1" connectionString="Data Source=HQ-L-096\ARAJAB;Initial Catalog=BILLING_DB;user id=sa;password=jabzz" providerName="System.Data.SqlClient"/>
	  <add name="APPSERVERMACHINE1" connectionString="Data Source=APPSERVER\APPSERVER;Initial Catalog=E-Proc;user id=sa;password=Terrible;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>