/* Begin Button Formatting */
A.button
{
    color: #1D6BBB;
	text-decoration: none;

}

A.button:HOVER
{
    color: #1D6BBB;
    text-decoration: none;
}

A.button:visited 
{
    color: #1D6BBB;
    text-decoration: none;
}


/* Begin Navigation Formatting */
A
{
    color: #617DA6;
    text-decoration: none;
}

A:HOVER
{
    color: #ff9900;
    text-decoration: underline;
}

A:ACTIVE
{
    color: #617DA6;
}

.leftnavheading
{
    width: 150px;
    padding: 5px 10px 5px 0px;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 10pt;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
}

.leftnavheading a
{
    color: #617DA6;
}

.leftnavheading a:hover
{
    color: #ff9900;
}

.leftnav
{
    width: 150px;
    padding: 3px 10px 0px 0px;
    font-family: Tahoma;
    font-weight: normal;
    font-size: 10pt;
    text-align: right;
    text-decoration: none;
}

.leftnav2
{
    width: 150px;
    padding: 3px 10px 0px 0px;
    font-family: Tahoma;
    font-weight: normal;
    font-size: 10pt;
    text-align: left;
    text-decoration: none;
}

.leftnav a
{
    color: #617DA6;
}

.leftnav a:hover
{
    color: #ff9900;
}

.logoutButton
{
	font-family: Cambria;
	font-size: 11pt;
	text-align: right;
}

.logoutButton a
{
    color: #FFFFFF;
}

.logoutButton a:hover
{
    color: #ff9900;
}

.topnavParent
{
    font-family: Tahoma;
    font-size: 8pt;
    font-weight: bold;
    display: block;
    width: 110px;
    text-align: center;
}

.topnavParent a, .topnavParent a:hover, .topnavParent a:active, .topnavParent a:visited
{
    color: White;
    text-decoration: none;
}

.topnavChild
{
    font-family: Tahoma;
    font-size: 8pt;
    display: block;
    width: 150px;
    padding: 2px 2px 2px 2px;
    margin-right: -4px;
    z-index: 100;
}

.topnavChild a
{
    color: white;
    text-decoration: none;
    width: 150px;
    padding: 2px 2px 2px 2px;
    margin-right: -4px;
}

.topnavChild a:hover
{
    color: black;
    text-decoration: none;
    width: 150px;
    padding: 2px 2px 2px 2px;
    margin-right: -4px;
}

.tableLeftNav
{
    border-right: solid 1px #617DA6;
}

/* End Navigation Formatting */


/* Begin Text Formatting */

P
{
    font-size: 9pt;
    font-weight: normal;
    font-family: Tahoma;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 9px;
    color: #666666;
}

.heading
{
    font-size: 13pt;
    font-weight: normal;
    font-family: Tahoma;
    letter-spacing: 1;
    color: #666666;
}

.headingBlue
{
    font-size: 13pt;
    font-weight: normal;
    font-family: Tahoma;
    letter-spacing: 1;
    color: #617DA6;
}

.headingBlueBold
{
    font-size: 13pt;
	font-weight: bold;
    font-family: Tahoma;
    letter-spacing: 1;
    color: #617DA6;
}


.headingGray
{
    font-size: 13pt;
    font-weight: normal;
    font-family: Tahoma;
    letter-spacing: 1;
    color: #666666;
}

.spotlighttext
{
    font-size: 13pt;
    font-weight: normal;
    font-family: Tahoma;
    line-height: 18px;
    color: #666666;
}

.spotlighttext a
{
    color: #617DA6;
}

.subheading
{
    font-size: 9pt;
    font-weight: bold;
    font-family: Tahoma;
    color: #666666;
}

.copy
{
    font-size: 9pt;
    font-weight: normal;
    font-family: Tahoma;
    color: #666666;
}

.footer
{
    background-image: url(/App_Themes/Default/footer.gif);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 8pt;
    line-height: 12pt;
    padding: 0px 0px 0px 0px;
    width: 850px;
    height: 33px;
}

.footer a
{
    color: #FFFFFF;
}

.grayborderbox2 th
{
    font-size: 9pt;
    font-weight: bold;
    font-family: Tahoma;
    padding: 4 4 4 4;
    color: #666666;
    text-align: left;
}

.grayborderbox2 td
{
    font-size: 9pt;
    font-family: Tahoma;
    color: #666666;
}

H1
{
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1;
}

H2
{
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
}

H3
{
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1;
}

H4
{
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1;
    font-style: italic;
}

H5
{
    font-size: 13px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1;
}


.footnote
{
    font-size: 10px;
    font-weight: normal;
    font-family: Tahoma;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 9px;
    color: #555555;
}

.caption
{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-family: Tahoma;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 9px;
    color: #666666;
}

/* End Text Formatting */


/* Begin Layout Formatting */

body
{
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
}

body#plain
{
    background-image: none;
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
}

.homepage_content
{
    padding: 5px 10px 10px 10px;
    background-color: #ffffff;
    width: 850px;
    text-align: left;
}
.popup_content
{
    padding: 5px 10px 10px 10px;
    background-color: #ffffff;
    width: 850px;
    text-align: center;
}

.popup
{
    font-size: 14px;
    font-weight: normal;
    font-family: Tahoma;
    width: 400px;
    color: #555555;
}

.homepage_popup_business
{
    position: absolute;
    border: solid 1px #000000;
    visibility: hidden;
    background-color: #FAFAAA;
    color: #000000;
    filter: alpha(opacity=90);
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 0px 10px;
    z-index: 10;
    width: 400px;
}

.maint_popup
{
    position: absolute;
    border: solid 1px #000000;
    visibility: hidden;
    background-color: #e0e9fd;
    color: #000000;
    filter: alpha(opacity=90);
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 0px 10px;
    z-index: 10;
    width: 400px;
}

.homepage_popup_personal
{
    position: absolute;
    border: solid 1px #000000;
    visibility: hidden;
    background-color: #FFFFE1;
    filter: alpha(opacity=95);
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 0px 10px;
    z-index: 10;
    width: 400px;
}

.homepage_content2
{
    padding: 5px 10px 10px 10px;
    background-color: #ffffff;
    width: 850px;
    text-align: left;
}

.product_content
{
    padding: 5px 10px 10px 10px;
    background-color: #ffffff;
    width: 850px;
    text-align: left;
}

.googlesearch
{
    position: absolute;
    top: 7px !important;
    top: 10px;
    left: 590px;
    width: 300px;
}

.footerbar
{
    background-color: #1D6BBB;
    width: 100%;
    margin: 0 0 0 0;
}

.footerbar2
{
    background-color: #FF9900;
    width: 100%;
    margin: 0 0 0 0;
}

.vline
{
    background-image: url(/assets/images/vline.gif);
    background-repeat: repeat-y;
    background-position: 50%;
}

.hline
{
    background-image: url(/assets/images/vline.gif);
    background-repeat: repeat-x;
    background-position: 50%;
}

.grayborderbox
{
    border: 1px solid #cccccc;
    margin: 4px 4px 4px 4px;
    text-align: left;
    vertical-align: top;
    background-color: #F7F8F8;
    border-collapse: collapse;
}

.grayborderbox2
{
    border: 1px solid #cccccc;
    text-align: left;
    vertical-align: top;
}

.grayborderbox2 th
{
    background-color: #DFE4E5;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}
.grayborderbox2 p
{
    padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
}

.graycorner
{
    background-image: url(/assets/images/gray_corner.gif);
    background-repeat: no-repeat;
    float: right;
}

.tableformat
{
    border-collapse: collapse;
    margin: 7px 0px 7px 0px;
    border: solid 1px #cccccc;
}

.tableformat th
{
    font-size: 10pt;
    font-weight: bold;
    font-family: Tahoma;
    color: #666666;
    text-align: left;
    padding: 4px 4px 4px 4px;
}

.tableformat td
{
    font-size: 9pt;
    font-weight: normal;
    font-family: Tahoma;
    color: #666666;
    padding: 4px 4px 4px 4px;
}

.tableformat a
{
    color: #617DA6;
}

.tableformat a:hover
{
    color: #FF9900;
}

.tableformat_small
{
    border-collapse: collapse;
    margin: 7px 0px 7px 0px;
    border: 1px solid #cccccc;
}

.tableformat_small th
{
    font-size: 9pt;
    font-weight: bold;
    font-family: Tahoma;
    color: #666666;
    text-align: left;
    padding: 4px 4px 4px 4px;
}

.tableformat_small td
{
    font-size: 8pt;
    font-weight: normal;
    font-family: Tahoma;
    color: #666666;
    padding: 4px 4px 4px 4px;
}

.tableformat_small a
{
    color: #617DA6;
}

.tableNormal
{
    margin: 7px 0px 7px 0px;
}

.tableNormal th
{
    font-size: 10pt;
    font-weight: bold;
    font-family: Tahoma;
    color: #666666;
    text-align: left;
    padding: 4px 4px 4px 4px;
}

.tableNormal td
{
    font-size: 9pt;
    font-weight: normal;
    font-family: Tahoma;
    color: #666666;
    padding: 4px 4px 4px 4px;
}

.tableNormal a
{
    color: #617DA6;
}

.tableNormal a:hover
{
    color: #ff9900;
}

.pricelist
{
    border-collapse: collapse;
    margin: 7 0 7 0;
    border: 1px solid #cccccc;
}
.pricelist th
{
    font-size: 12pt;
    font-weight: bold;
    font-family: Tahoma;
    color: #617DA6;
    text-align: left;
    padding: 4 4 4 4;
}

.pricelist td
{
    font-size: 9pt;
    font-weight: normal;
    font-family: Tahoma;
    color: #666666;
    padding: 4 4 4 4;
}

.pricelist a
{
    color: #617DA6;
}

.RowSubheading td
{
    background-color: #cccccc;
    font-weight: bold;
    color: #617DA6;
}

.RowA
{
    background-color: #FFFFFF;
}

.RowB
{
    background-color: #F7F8F8;
}

.panels
{
    margin-top: -20px;
}

.tabs
{
    margin-bottom: -6px;
}

.bottomcell
{
    border: solid 1px #cccccc;
    padding: 10px;
}

#LeftColContent p
{
    font-family: Tahoma;
    font-size: .7em;
    margin-top: .4em;
    margin-bottom: 0;
    margin-right: 12px;
    text-align: right;
}

#LeftColContent H1
{
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 13px;
    margin-right: 12px;
    text-align: right;
}
